* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    background-color: #f2f2f2;
    color: #282828;
}
.link {
  border-bottom: 3px solid #D76f8a;
  text-decoration: none;
  color: #f2f2f2;
  transition: background-color 0.3s;
}
.link:active, .link:hover {
    background-color: #d76f8a;
    border: 5px solid #D76f8a;
    color: #f2f2f2;
}
.presentation{
    display: flex;
    width: 80%;
    height: 90vh;
    align-items: center;
    margin: auto;
}
.cover{
    flex: 1;
}

.cover img{
    height: 40vh;
    animation: dropdown 1.5s ease-in forwards;
}
.introduction{
    flex: 1;
    opacity: 0;
    animation: fadein 1.5s ease-in forwards;

}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
}
.intro-text p{
    font-size: 22px;
    margin-top: 5px;
}
.cta{
    padding: 50px 0px 50px 0px;
}
.cta button{
    border: none;
    background: linear-gradient(to left, #d76f8a 0%, #e09a60 100%);
    width: 150px;
    height: 50px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    box-shadow: 2px 5px 8px #888888;
}
.bigger-circle{
    position: absolute;
    top: 13%;
    right: 0px;
    z-index: -2;
    opacity: 0.1;
    height: 60%;
    animation: fadeincircle 1.5s ease-in forwards;
}
.big-circle{
    position: absolute;
    top: 13%;
    right: 20%;
    z-index: -2;
    opacity: 0.1;
    animation: fadeincircle 1.5s ease-in forwards;
}
.small-circle{
    position: absolute;
    bottom: 35%;
    right: 20%;
    z-index: -2;
    opacity: 0.1;
    animation: fadeincircle 1.5s ease-in forwards;
}
.poddery{
    margin-top: 12vh;
    padding: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    #color: #f2f2f2;
    #background: #222222;
    background: url('../img/bg.png');
}
.poddery-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: appear 1.5s ease-in forwards;
}
.poddery-logo{
    display: flex;
    width: 90%;
    justify-content: center;
    align-content: center;
    flex: 1;
}
.poddery-logo img{
    height: 10vh;
    margin-top: 5vh;
}
.poddery-intro-text {
    flex: 1;
    text-align: center;
    width: 50%
}
.poddery-intro-text h1{
    font-size: 44px;
    font-weight: 500;
}
.poddery-intro-text p{
    font-size: 22px;
    margin-top: 5px;
}
.poddery-services-list {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.cta-poddery button{
    background: linear-gradient(to left, #d76f8a 0%, #e09a60 100%);
    background: transparent;
    border: 2px solid #000;
    border-radius: 0px;
    color: #333;
    font-weight: 600;
    padding: 8px 8px;
    margin-top: 22px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.cta-success {
    color: #f2f2f2;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.cta-poddery button:hover {
    background: #333;
    border: 2px solid #333;
    color: #f2f2f2;
}
.poddery-services{
    width:  400px;
    margin: 20px;
    padding: 20px 30px;
    text-align: center;
    border: 2px solid #333;
    background: transparent;
    color: #212121;
}
.poddery-services:hover{
    background: #333;
    border: 2px solid #333;
    color: #f2f2f2;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.poddery-services:hover img{
    filter: invert(100%);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.poddery-services p{
    text-align: justify;
}
.poddery-services a{
    text-decoration: none;
    color: #212121;
}
.poddery-services:hover a{
    text-decoration: none;
    color: #f2f2f2;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.services-logo{
    height: 50px;
}
.services-logo img{
    filter: invert(1);
}
.services{
    margin-top: 12vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.services h1{
    font-size: 44px;
    font-weight: 500;
}
.other-services{
    justify-content: center;
    text-align: center;
    align-content: center;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.service-block{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
    margin: 20px;
    border: 2px solid #EFEFEF;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
}
.service-block:hover{
    box-shadow: 2px 5px 4px #888888;
}
.service-block img{
margin-top: 20px;
}
.service-block p{
    text-align: center;
    margin-top: 20px;
}
.service-block h2{
    margin-top: 20px;
}
.service-block a{
    text-decoration: none;
    color: #212121;
}
.label-danger {
  border: 3px solid #D9534F;
  color: #f2f2f2;
  background-color: #D9534F;
  border-radius: 10px;
  padding: 3px;
  margin-top: 20px;
}
footer{
    margin-top: 10vh;
    padding: 20px;
    background: linear-gradient(to left, #d76f8a 0%, #e09a60 100%);
}
.footer-div{
    display: flex;
    flex-direction: column;
    width: 99%;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    color: #f2f2f2;
}
.footer-div h2{
    font-size: 28px;
    margin-bottom: 3vh;
    font-weight: 500;
}
.social{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: auto;
}
.social li{
    list-style: none;
}
.social-links{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.first{
    opacity: 0;
    animation: fadein 1s ease-in 0.2s forwards;
}
.second{
    opacity: 0;
    animation: fadein 1s ease-in 0.5s forwards;
}
.third{
    opacity: 0;
    animation: fadein 1s ease-in 0.8s forwards;
}
@keyframes dropdown{
    0% {
	opacity: 0;
	transform: translateY(-80px);
    }
    100% {
	opacity: 1;
	transform: translateY(0px);
    }
}
@keyframes fadein{
    0% {
	opacity: 0;
	transform: translateX(80px);
    }
    100% {
	opacity: 1;
	transform: translateX(0px);
    }
}

@keyframes fadeincircle{
    0% {
	opacity: 0;
    }
    100% {
	opacity: 0.1;
    }
}

@keyframes appear{
    0% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}
@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
        height: 100vh;
    }
    .cover{
        display: flex;
        height: auto ;
        align-items: center;
        flex: : 0 0;
        margin-top: 5vh;
    }
    .cover img{
        display: flex;
        justify-content: flex-end;
        width:80%;
        margin: auto;
        height: auto;
    }
    .introduction{
        text-align: center;
        flex: none;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
.bigger-circle{
    top: 20%;
}
.big-circle{
    top: 20%;
}
.small-circle{
    bottom: 15%;
}
.poddery-intro-text{
    width: auto;
    padding: 10px;
}
.poddery-services-list{
    flex-direction: column;
    width: auto;
}
.poddery-services{
    width: auto;
}
.other-services{
    flex-direction: column;
    flex-wrap: none;
    width: auto;
}
.service-block{
    width: auto;
}
}
